@import 'page-title.css';

main section.content-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;

    p {
        font-size: 32px;
        line-height: 1.6;
        margin: 0;
    }
}
