* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: "Inter";
    font-size: 24px;
}

input,
textarea,
button,
select {
    font-size: inherit;
}

a {
    color: inherit;
}

main {
    background-color: #F6F6F6;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 16px;
}

main section {
    flex: 1;
    padding: 32px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #eee;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    flex: 1;
}

.btn-primary {
    background-color: #3645EA;
    color: white;
    border: 1px solid black;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px;
    border-radius: 4px;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: #3645EA;
    color: white;
}

.btn-primary.disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-secondary {
    background-color: #CDCDCD;
}
