.container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#add-dialog {
    margin: auto;
    form {
        padding: 8px;
        display: flex;
        flex-direction: column;
    }
}
