<dialog closedby="any" id="add-dialog">
    <form method="dialog">
        <label for="name">Название</label>
        <input type="text" id="name" required>
        <br>

        <label for="price">Цена</label>
        <input type="number" id="price" required>
        <br>

        <label for="img">Ссылка на Фото</label>
        <input type="text" id="img" placeholder="https://example.com/image.png" required>
        <br>

        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
</dialog>
<button class="btn btn-primary" id="add">Добавить товар</button>
<div class="container">
</div>
