@import 'css/page-title.css';

main section.content-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.total {
    text-align: right;
}

.empty-message {
    width: 100%;
    text-align: center;
    padding: 64px 32px;
    font-size: 18px;
    color: #757575;
}

.cart-actions {
    display: flex;
    justify-content: stretch;
    margin-top: 24px;
}
