@import 'css/page-title.css';

main section.content-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.total {
    text-align: right;
}

.empty-message {
    width: 100%;
    text-align: center;
    padding: 64px 32px;
    font-size: 18px;
    color: #757575;
}

.cart-actions {
    display: flex;
    justify-content: stretch;
    margin-top: 24px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 8px 16px;
    border-radius: 4px;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: #3645EA;
    color: white;
}

.btn-primary.disabled {
    background-color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}
