main {
    display: flex;
    background-color: #F6F6F6;
    padding: 32px;
    gap: 32px;
}

main section.categories-and-filters {
    width: 456px;
    font-weight: 500;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        list-style-type: none;
        margin-left: 32px;
    }

    form {
        margin-left: 32px;

        #search {
            width: 100%;
        }
    }
}

main section.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
