.product-card {
    box-sizing: border-box;
    padding: 16px;
    width: 310px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 16px;

    justify-content: space-between;

    border: 3px solid #383838;
    border-radius: 8px;
    background-color: #fff;

    color: #1E1E1E;

    img {
        object-fit: scale-down;
        max-height: 247px;
    }

    > div {
        display: flex;
        flex-direction: column;

        gap: 8px;

        #name {
            margin-right: 70px;
        }

        #name, #price {
            line-height: 140%;
            font-size: 16px;
        }

        #price {
            font-weight: 600;
        }

        #buttons-container {
            display: flex;
            justify-content: space-between;
            a {
                text-decoration: none;
                font-size: 14px;
                color: #757575;
            }
        }
    }
}
